name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
  push:
    branches: ['main']

jobs:
  ci-success:
    name: Github Status Check
    runs-on: ubuntu-latest
    if: always() && !cancelled()
    steps:
      - name: Status
        run: |
          exit 0
